{% extends "base.twig" %}

{% block content %}
    {{ cpt }}
    <div class="Archive">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="Archive-block">
                        <h2 class="Archive-title">Derniers documents</h2>
                        <div class="Archive-docList">
                            {% for post in last %}
                                <div class="Archive-docTeaser">
                                    <p class="Archive-docDate">{{ post.date }}</p>
                                    <p class="Archive-docTitle"><a href="{{ post.link }}">{{ post.title }}</a></p>
                                    <ul class="Archive-tags">
                                        {% for term in post.terms %}
                                            <li class="Archive-tag">{{ term }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% if post.get_field('description') %}
                                        <p class="Archive-description">{{ post.get_field('description') }}</p>
                                    {% endif %}
                                    <a href="{{ post.link }}" class="Archive-link">Voir le document</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="Archive-block Archive-block--archives">
                        <h2 class="Archive-title">Autres documents</h2>
                        <div class="Archive-docList">
                            {% for post in posts %}
                                <div class="Archive-docTeaser">
                                    <p class="Archive-docDate">{{ post.date }}</p>
                                    <p class="Archive-docTitle"><a href="{{ post.link }}">{{ post.title }}</a></p>
                                    <ul class="Archive-tags">
                                        {% for term in post.terms %}
                                            <li class="Archive-tag">{{ term }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% if post.get_field('description') %}
                                        <p class="Archive-description">{{ post.get_field('description') }}</p>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}