{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

        {% include 'components/validate.twig' %}

		<div class="Layout">
			<div class="Layout-left" >
                {% include 'components/header.twig' %}
                {% include 'components/aside.twig' %}
			</div>

			<div class="Layout-right">
                {% block content %}

                {% endblock %}
			</div>
		</div>

		{% block footer %}
			{% include 'footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>