{% extends "base.twig" %}

{% block content %}
    <div class="Home">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="Home-content">
                        <h1 class="Home-title">{{ post.title }}</h1>
                        <div class="Home-text Wysiwyg">
                            {{ post.content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}