{% if menu %}
	<div class="Menu">
		<ul class="Menu-items">
            {% for item in menu %}
				<li class="Menu-item {{item.classes | join(' ')}}">
					<a href="{{item.get_link}}">{{item.title}}</a>
				</li>
            {% endfor %}
		</ul>
	</div>

{% endif %}