{% extends "base.twig" %}

{% block content %}
	<div class="MainPage">
		<div class="container">
			<div class="MainPage-back">
				<a href="../">Retour à la catégorie</a>
			</div>
			<div class="MainPage-title"><h1>{{ post.title }}</h1></div>

			<div class="row">
				<div class="col-8">
                    {% include 'components/asidedoc.twig' %}
				</div>
			</div>

			<div class="row">
				<div class="col-8">
                    {% include 'components/maindoc.twig' %}
				</div>
			</div>

		</div>
	</div>

{% endblock %}