<div class="Asidedoc">
    <p class="Asidedoc-header">Informations</p>
    <div class="Asidedoc-block">

        <div class="Asidedoc-info">
            <span class="Asidedoc-legend">Date de publication</span>
            <span class="Asidedoc-value">{{ post.date }}</span>
        </div>

        <div class="Asidedoc-info">
            <span class="Asidedoc-legend">Publié par</span>
            <span class="Asidedoc-value">{{ post.get_field('author') }}</span>
        </div>

        <div class="Asidedoc-info">
            <span class="Asidedoc-legend">Version du document</span>
            <span class="Asidedoc-value">{{ post.get_field('version') }}</span>
        </div>


        <a href="{{ post.get_field('document') }}" class="Asidedoc-link">Télécharger le document</a>

    </div>
</div>