<div class="Aside">
    <div class="Aside-header">
        <div class="Aside-logo">
            <a href="{{ site.url }}"><img src="{{ options.logo }}" /></a>
            <p class="Aside-company">{{ options.company }}</p>
        </div>
        {% include "menu.twig" with {'menu': menu.get_items} %}
    </div>
</div>

