<div class="Validate">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="Validate-content">
                    <div class="Validate-block">
                        <img src="{{ options.logo }}" />
                        <p class="Validate-okText">{{ options.disclaimer_text }}</p>
                        <p class="Validate-link"><a href="{{ options.disclaimer_link }}" target="_blank">{{ options.disclaimer_link_text }}</a></p>
                    </div>

                    <div class="Validate-redirect">
                        <button>{{ options.disclaimer_button }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>