<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="Archive-block">
                <h2 class="Archive-title">Derniers documents</h2>
                <div class="Archive-docList">
                    {% for post in posts %}
                        {% if post.category == 'dernier document' %}
                            <div class="Archive-docTeaser">
                                <p class="Archive-docDate">{{ post.date }}</p>
                                <p class="Archive-docTitle"><a href="{{ post.link }}">{{ post.title }}</a></p>
                                {% if post.get_field('description') %}
                                    <p class="Archive-description">{{ post.get_field('description') }}</p>
                                {% endif %}
                                <a href="{{ post.link }}" class="Archive-link">Voir le document</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="Archive-block Archive-block--archives">
                <h2 class="Archive-title">Archives</h2>
                <div class="Archive-docList">
                    {% for post in posts %}
                        {% if post.category != 'dernier document' %}
                            <div class="Archive-docTeaser">
                                <p class="Archive-docDate">{{ post.date }}</p>
                                <p class="Archive-docTitle"><a href="{{ post.link }}">{{ post.title }}</a></p>
                                <ul>
                                    {% for term in post.terms %}
                                        <li><a href="{{ term.link }}">{{ term }}</a></li>
                                    {% endfor %}
                                </ul>
                                {% if post.get_field('description') %}
                                    <p class="Archive-description">{{ post.get_field('description') }}</p>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>