.Archive-block {
  background:white;
  padding:30px;
  border-radius:3px;
  margin-bottom: 40px;
}

.Archive-title {
  border-bottom: 5px solid red;
  font-weight: bold;
  padding-bottom: 10px;
}

.Archive-docTeaser {
  padding:20px 0;
  border-bottom: 1px solid #ccc;
  position:relative;
}

.Archive-docDate {
  font-size:0.7rem;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: bold;
}

.Archive-docTitle {
  font-size:1.4rem;
  font-weight: bold;
  margin-bottom: 0;

  a {
    color:black;
  }
}

.Archive-description {
  margin-bottom: 0;
}

.Archive-link {
  @include button;
  margin-top: 10px;
}

.Archive-tags {
  list-style: none;
  margin-left: 0;
  margin-top: 5px;
  padding-left: 0;
}

.Archive-tag {
  display:inline-block;
  color:white;
  text-transform: uppercase;
  background-color: #666;
  font-weight: bold;
  font-size: 0.6rem;
  margin-right:5px;
  padding:5px 10px;
}

.Archive-block--archives {
  background-color: #f1f1f1;

  .Archive-title {
    font-size: 1.5rem;
    border-bottom:3px solid #ccc;
    padding-bottom: 10px;
  }

  .Archive-docTitle {
    font-size:1rem;
    font-weight: bold;
    margin-bottom: 0;
  }

  .Archive-tags {
    margin-bottom: 0;
  }

  .Archive-link {
    font-size: 0.6rem;
  }

}
