.Aside-logo {
  text-align: center;
  padding:20px 0;

  img {
    max-width: 100px;
  }
}

.Aside-company {
  margin-top:10px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
}