.Asidedoc-header {
  background-color: #ccc;
  text-transform: uppercase;
  font-weight:bold;
  text-transform: uppercase;
  color: #222;
  padding:10px 20px;
  margin:0;
  border-radius: 3px 3px 0 0;
}

.Asidedoc-block {
  background-color: white;
  padding:20px;
  border-radius: 0 0 3px 3px;
  margin-bottom: 40px;
}

.Asidedoc-info {
  margin-bottom: 10px;
}

.Asidedoc-legend {
  text-transform: uppercase;
  font-size:0.8rem;
  margin-bottom:0;
  padding-right: 10px;
  border-right: 3px solid #ccc;
}

.Asidedoc-value {
  font-size: 1rem;
  text-transform: uppercase;
  margin-top:0;
  font-weight: bold;
  padding-left: 10px;
}

.Asidedoc-link {
  @include button;
}