.Menu-items {
  list-style: none;
  color:white;
  text-transform: uppercase;
  margin:0;
  padding:0;
}

.Menu-item {
  border-bottom:1px solid #ccc;
  margin:0 20px;
  padding: 10px;
  a {color:inherit}

  &:first-child {
    border-top:1px solid #ccc;
  }
}

.Menu-item.current-menu-item {
  color: white;
  font-weight: bold;
  border-left:10px solid red;
}