.Validate {
  position:fixed;
  width:100%;
  height:100vh;
  background-color: rgba(255,255,255,0.9);
  z-index:100;
}

.Validate-content {
  background-color: white;
  padding:40px;
  border:5px solid #444;
  top: 100px;
  position:relative;
  text-align: center;
  font-size: 1.2rem;

  img {
    display:block;
    max-width: 100px;
    margin: 0 auto 30px auto;
  }
}

.Validate-redirect {

  button {
    @include button;
    border:none;
    cursor:pointer;
  }

}