@mixin button {
  display:inline-block;
  font-weight: bold;
  font-size:0.9rem;
  background-color: red;
  padding: 10px 20px;
  border-radius:3px;
  margin:0 auto;
  color: white;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
    color:white;
  }

  &:visited {
    color:white;
  }

  &:focus {
    color:white;
  }
}